header {
    display: flex;
    align-items: center;
    background-color: #FFE8FB;
    height: 70px;
}

.titulo__fonte {
    color: #883677;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo {
    margin-top: 20px;
    margin-left: 20px;
}

.alinhaCampo {
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
    color: #883677;
}